.row {
    display: block;
    width: 100%;
    border-bottom: 2px solid #ddd;
    vertical-align: top;
    padding: 15px 0;
}

.column {
    display: inline-block;
    width: calc(49% - 300px);
    vertical-align: top;
    margin: 0 150px;
}

.form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
    color: #666;
}

.listWrapper:not(:empty) {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
}

.listWrapper > div:last-of-type {
    margin-bottom: 0;
}

.objectFormField {
    margin-bottom: 10px;
}

.objectFieldClassName {
    border-radius: 4px;
}