.row {
    display: block;
    width: 100%;
    border-bottom: 2px solid #ddd;
    vertical-align: top;
    padding: 15px 0;
}

.column {
    display: inline-block;
    width: calc(49% - 300px);
    vertical-align: top;
    margin: 0 150px;
}

.form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
    color: #666;
}

.listWrapper:not(:empty) {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
}

.listWrapper > div:last-of-type {
    margin-bottom: 0;
}

.objectFormField {
    margin-bottom: 10px;
}

.objectFieldClassName {
    border-radius: 4px;
}

.autocompleteListItem {
    display: block;
    padding: 5px;
    background: #FFF;
    border: 1px solid #ddd;
    border-top: 0px;
}

.autocompleteListSectionHeader {
    font-weight: bold;
    background: #eee;
    padding: 5px;
}

.autocompleteListItemPhone {

}

.autocompleteListItemName {

}

.autocompleteListItemWrapper {
    position: relative;
}

.autocompleteListItemWrapper ul{
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.autocompleteListItemWrapper li{
    list-style: none;
    margin-left: 0px;
}

.suggestionsContainer {
    position: absolute;
    top: 100%;
    width: 100%;
}