.errorWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(255, 0, 0, 0.1);
    color: #f44336;
    padding: 10px 20px;
    margin-top: 5px;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    border-radius: 4px;
}
